<!-- Here we will put the const part excl. the variable part  -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
<link rel="stylesheet" href="/css/layout.css">
<%-style%>
</head>
<body>
   <%- include('_header'); %>
   
  <% if(flash.success && flash.success.length > 0){%>
     <h5>
      <%= flash.success%>

     </h5>
    

  <%}%>
<!-- And I need to tell where the variable part lies -->
   <%- body %>
   <p>Hello</p>
<!-- so now just remove the common part -->
    <%- include('_footer'); %>
    <%-script%>
</body>
</html>

<!-- So this is the wrapper to org pages -->